@import url(./fonts/font.css);

.root {
  font-family: "Inter", Arial, sans-serif;
  background-color: #000;
  text-rendering: optimizeLegibility;
  font-style: normal;
  color: white;
  min-width: 320px;
  margin: 0;
}

.page {
  max-width: 880px;
  margin: 0 auto;
}

.header {
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 425px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }
}

.header__logo {
  width: 142px;
  height: 33px;
}
@media (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media (max-width: 425px) {
  .header__logo {
    width: 104px;
    height: 25px;
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 51px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 282px;
    padding: 42px 0 36px;
  }
}

.profile__container {
  display: flex;
}

@media (max-width: 720px) {
  .profile__container {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 30px 0 0;
}

@media (max-width: 720px) {
  .profile__avatar {
    margin: 0;
  }
}

.profile__info {
  width: 336px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media (max-width: 720px) {
  .profile__info {
    display: block;
    max-width: 100%;
    margin-bottom: 36px;
  }
}

.profile__personal {
  display: flex;
  justify-content: space-between;
  margin: 22px 0 16px;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  .profile__personal {
    padding-left: 47px;
    justify-content: start;
    margin-bottom: 14px;
  }
}

.profile__name {
  max-width: 294px;
  margin: 0 18px 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 720px) {
  .profile__name {
    width: 189px;
    font-size: 27px;
    line-height: 33px;
    margin: 0 10px 0 0;
  }
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(./images/edit_btn.svg) no-repeat center;
  border: 1px solid #fff;
  padding: 0;
  margin-top: 14px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 720px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 0;
    align-self: center;
  }
}

.profile__profession {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 720px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

.profile__add-button {
  width: 150px;
  height: 50px;
  background: url(./images/add-btn.svg) no-repeat center;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 0;
  cursor: pointer;
  transition: 0.4s ease-in;
}

@media (max-width: 720px) {
  .profile__add-button {
    width: 100%;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}

/* Контент */
.elements {
  width: 100%;
  margin: 0 auto;
}

.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-template-rows: 361px;
  grid-auto-rows: 361px;
  row-gap: 20px;
  column-gap: 17px;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin: 0 auto 67px;
}

@media (max-width: 425px) {
  .footer__text {
    margin-bottom: 48px;
  }
}

.elements__item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  line-height: 0;
}
.elements__description {
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 15px 25px 21px;
}

.elements__item-title {
  color: #000;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__item-img {
  width: 100%;
  height: 282px;
  object-fit: cover;
  margin: 0;
}

.elements__item-like {
  width: 22px;
  height: 19px;
  background: url(./images/heart_img.svg) no-repeat center;
  padding: 0;
  border: 0;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.elements__item-like:hover {
  opacity: 0.5;
}

.footer {
  max-width: 100%;
}

@media (max-width: 425px) {
  .footer {
    max-width: 282px;
    margin: 0 auto;
  }
}

.footer__text {
  color: #545454;
  max-width: 318px;
  margin: 0 0 60px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 425px) {
  .footer__text {
    max-width: 100%;
    margin: 0 0 36px;
    font-size: 14px;
    line-height: 17px;
  }
}

/* POPUP */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_open {
  display: flex;
}

.popup__container {
  position: relative;
  width: 430px;
  height: 330px;
  margin: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
@media (max-width: 581px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}

.button__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: url(./images/Close_btn.svg) no-repeat center;
  border: 0;
  object-fit: cover;
  transition: 0.4s ease-in;
  cursor: pointer;
}

.button__close:hover {
  opacity: 0.6;
}

@media (max-width: 581px) {
  .button__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background: url(./images/Close_btn_small.svg) no-repeat center;
  }
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__form-container {
  width: calc(100% - 36px * 2);
  display: flex;
  flex-direction: column;
  margin: 34px auto 37px;
}

@media (max-width: 581px) {
  .popup__form-container {
    width: calc(100% - 22px * 2);
    margin: 25px auto;
  }
}

.popup__title {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px;
}

@media (max-width: 581px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px auto;
  }
}

.popup__input {
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  opacity: 0.2;
  padding: 0 0 13px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__input_name {
  margin: 0 0 30px;
}

.popup__input_profession {
  margin: 0 0 48px;
}

@media (max-width: 581px) {
  .popup__input_profession {
    margin-bottom: 45px auto;
  }
}

.popup__submit {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 50px;
  padding: 0;
  transition: 0.4s ease-in;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media (max-width: 581px) {
  .popup__submit {
    height: 46px;
  }
}
